/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.AboutUs{
    text-align: center;
    background-color: black;
    color: white;
}

/* #Container{

} */

#image{
    text-align: center;
    object-fit: cover;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
}

#image img{
    display: flex;
    margin-top: 0;
    height: auto;
    width: auto; 
    /* width: 425px; */
    /* border-radius: 25px; */
    object-fit:cover;
}


#text{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-left: 5%;
}

#text h4{
    font-weight: 600;
}

#mission{
    background-color: white;
    color: black;
}

@media only screen and (max-width: 500px) {

    #text{
        margin-top: -15%;
        margin-left: 0;
    }

    #image img{
        height: auto;
        width: 300px;
    }
    
}