#carousel-caption{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#Leaders {
    padding-top: 10px;
    background-color: white;
}

#row{
    /* padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px; */
    /* margin: 30px 0px 30px; */
}

#row Col{
    /* margin: 0px 10px 0px; */
    /* align-content: center; */
}